<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div> 
      <% @music_names.each do |music_name| %>
      <li><%= "#{@index}"%> <%= link_to(music_name,"music/#{@index}") %></li>
      <% @index += 1 %>
      <% end %>
<% else %>
<div class = "container">
  <div class = "jumbotron">
    <h1 style= "text-align: center;">system app</h1>
    <p style= "text-align: center;">今開発中のアプリケーション</p>
    <p style="text-align: center" margin-right: auto;">
   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </p>
  </div>
</div>
<% end %>
