 <div class ="container">
 <% if logged_in? &&  current_user.admin? %>
 <%= link_to("新規作成", music_new_path ) %>
  <% end %>
  
  
 <% if logged_in? %>
 　<div class = "list-group">
       <% @musicposts.each do |musicpost| %>
       <a href = "<%= "/music/#{musicpost.id}" %>" class="list-group-item list-group-item-action"><%= musicpost.music_name %> 
       <after class="text-right">></after>
       </a>
       <% end %>
 　</div>
     
<% else %>
<div class = "container">
  <div class = "jumbotron">
    <h1 style= "text-align: center;">system app</h1>
    <p style= "text-align: center;">今開発中のアプリケーション</p>
    <p style="text-align: center" margin-right: auto;">
   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </p>
  </div>
</div>
<% end %>
</div>
