 <div class ="container">
 <% if logged_in? &&  current_user.admin? %>
 <%= link_to("新規作成", music_new_path ) %>
  <% end %>
  
  
 <% if logged_in? %>
 <% @musicposts.each do |musicpost| %>
 　 <div class="list-group">
    <a href="<%= "/music/#{musicpost.id}" %>" class="list-group-item list-group-item-action">
    <h1 class="list-group-item-heading"><%= musicpost.music_name %> <span>></span></h1>
    <h3 class="list-group-item-text" style= "display: inline;">one ok rock</h3>

    </a>
   </div>
<% end %>
       

     
<% else %>
  <div class = "jumbotron">
    <h1 style= "text-align: center;">system app</h1>
    <p style= "text-align: center;">今開発中のアプリケーション</p>
    <p style="text-align: center" margin-right: auto;">
   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </p>
  </div>
</div>
<% end %>
</div>
