<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag "/user_images/#{@user.image_name}",class: "aicon" %>
        <%= @user.name %>
        
      </h1>
    </section>
  </aside>
  <div class="col-md-6 offset-3 ">
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render "microposts/micropost" %>
      </ol>
  </div>
</div>
    <% else %>
    <div class="row">
    <div class="jumbotron">
    <h3 class="visible-lg visible-md"style="text-align: center;">まだ投稿していません。</h3>
    <h2 class="visible-xs visible-sm"style="text-align: center;">まだ投稿していません。</h2>
    </div>
    </div>
    <% end %>
