<%= form_with(model: @music_post, local: true) do |f| %>
  <div class="field">
    <%= f.text_area :content , value: @musicpost.content ,style: "color: black;"%>
  </div>
  <div class="field">
    <%= f.text_area :youtube , value: @musicpost.youtube,style: "color: black;" %>
  </div>
  <%= f.submit "保存",class: "btn btn-primary" %>
  <% end %>